
<p style="color: green"><%= notice %></p>
<h1>Dishes</h1>

<div id="dishes">
  <% @dish.each do |dish| %>
<div align="center">
  <div>
    <strong>Name:</strong>
    <%= dish.name %>
    </div>
    <%= link_to image_tag(dish.photo, alt: "Rails logo", width: "200"),
dish %>
    </div>
  <% end %>
</div>
<div align="center">
<%= link_to "New dish", new_dish_path %>
</div>
